body {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	margin: 3em;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-style: black;
	font-size: 400%;
	color: black;
	letter-spacing: 8px;
	margin: 0;
	padding-bottom: 0px;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-size: 150%;
	color: black;
	letter-spacing: 3px;
}

p {
	font-size:100%;
	color: black;
}

img {
	width: 40%;
	display: inline-block;
}

@media screen and (max-width: 600px) {
  img {
    width: 100%;
Min-width:200px;
  }
}

a{
    color: black;
	text-decoration: none;
	padding: 5px;
}

.active {
	color: #FFF303;
	cursor: default;
}

a:hover:not(.active) {
    color: black;
	background: yellow;
}

a:active {
    color: white;
}


.container {
  display: inline-block;
  position: relative;
  width: 40%;
  margin:auto;
}

#image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:yellow;
}

.container:hover .overlay {
  opacity: .8;
  cursor:pointer;
}


.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


@media (max-width: @screen-xs) {
    .container{width: 10px;}
}

@media (max-width: @screen-sm) {
    .container{width: 14px;}
}


@media screen and (max-width: 600px) {
  .container {
    width: 100%;
	  height: 50px;
Min-width:200px;
  }
	.overlay {
		opacity:.9;
	}
	#image {
		width: 100%;
	  	height: 100px;
		Min-width:200px;
		opacity: 0;
	}
}

@media screen and (max-width: 600px) {
  iframe {
    width: 100%;
      height: auto
Min-width:200px;
  }
}



.row {
	padding-top: 10px;
	margin:auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.centered {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	padding-top: 2em;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
	text-align: center;
	color: black;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	visibility: hidden;
}

#graphics {
	display: none;
}


#animations{
	display: none;

}


#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px;
    right: 70px;
    z-index: 99; 
	background-color: yellow;
	border: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    font-size: 18px; 
}

#myBtn:hover {
    color: white;
}

